

html{
    font-size: 10px;
}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: rgb(0, 0, 0);
}

section{
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 10px;
    margin: 100px auto;
}

div{
    width: 60px;
    height: 60px;
    border: 1px solid black;
    margin: 70px auto;
    border-radius: 100%;

    background: linear-gradient(to top left, rgba(255, 0, 0, 0.829),rgba(28, 28, 219, 0.74));
    box-shadow: 15px 15px 0 5px rgba(2, 2, 2, 0.849);
    transition: all 5s;

    animation-name: run;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes run {
    0%{
        transform: translateY(-70px);
    }

    100%{
        transform: translateY(0px);
    }
}





